[user]
  name = Kazuho Fujii
  email = kazuho.fujii@gmail.com
[core]
  editor = vim
  precomposeunicode = true
  excludesfile = ~/.gitignore
[push]
  default = current
[alias]
  unstage = reset -q HEAD --
  discard = checkout --
  nevermind = !git reset --hard HEAD && git clean -d -f
  uncommit = reset --mixed HEAD~
  amend = commit --amend
  last = diff HEAD^ HEAD
  summary = status -u -s
  graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
  history = log -10 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
  branchout = checkout -b
  tags = tag
  branches = branch
  delete-branch = branch -d
  remove-branch = branch -d
  stashes = stash list
  precommit = diff --cached
  move = mv
  remove = rm
  unmerged = branch --no-merged
  unstash = stash pop
  what = show -w
  untrack = rm -r --cached
  rewrite = rebase -i
  back = checkout "-"
  contributors = shortlog -s -n
  filetrail = log --follow -p -w
  mergetrail = log --ancestry-path --merges
  unmerged = diff --name-only --diff-filter=U
